.centarwa
  {
    font-size: 29PX;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bolder;
    font-variant-ligatures: historical-ligatures;
    margin-top: 22px;
    text-shadow: 6px 2px 4px  rgb(148, 191, 171);
    letter-spacing: 8px;
    margin-top: 22px;
  }
  .centarwa:hover
  {
    color: blue;
  }
  .SERVI
  {
    margin-top: -102PX;
  }
  .suno
  {
    font-family: cursive;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
  }
  .suno:hover
  {
    text-decoration: underline;
    font-family: sans-serif;
    color: blue;

  }
  .moli1
  {
    color: black;
    letter-spacing: 2px;
    
  }
  .lo1
  {
    text-align: center;
    justify-content: center;
text-decoration: underline;  }
 .lo22
 {
  text-align: center;
    justify-content: center;
    color: blue;
    margin-top: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
 }
 .lo21
 {
  font-weight: 600;
 }
 .jiosher1
 {
  text-align: center;
  justify-content: center;
  color: blue;
  margin-top: 60px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
